<table>

    <tr>
        <td>Isbn nummer</td>
        <td>{{book.isbn13}}</td>
    </tr>
    <tr>
        <td>Title</td>
        <td>{{book.title}}</td>
    </tr>
    <tr>
        <td>Subtitle</td>
        <td>{{book.subtitle}}</td>
    </tr>
    <tr>
        <td>Rating</td>
        <td><input type="text"value ="{{numberTwelve}}"> </td>
        <td><button (click)="optellen()">Optellen</button></td>
    </tr>
    <!-- <tr>
        <td>Rating</td>
        <td>{{book.Rating}}</td>
    </tr> -->
</table>